{% extends "base.html" %}
{% block title %} FoodTracker | Add Food Item {% endblock %}
{% block content %}
<div class="row t20">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="lean-h text-black">
					<i class="glyphicon glyphicon-plus-sign"></i> New Food Form
				</h3>
				<hr />

				<form action="{{url_for('main.add')}}" method="POST">
					{{ form.csrf_token }}
					<div class="row">
						<div class="col-lg-4">
							<div class="form-group">
								{{ form.name.label }}
								{{ form.name(class='form-control', placeholder='Food name', autocomplete='off') }}
								{% if form.name.errors %}
								<ul>
									{% for error in form.name.errors %}
									<li>{{error}}</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								{{ form.protein.label }}
								{{ form.protein(class='form-control', placeholder='Protein', autocomplete='off', min=0)
								}}
								{% if form.protein.errors %}
								<ul>
									{% for error in form.protein.errors %}
									<li>{{error}}</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								{{ form.carbs.label }}
								{{ form.carbs(class='form-control', placeholder='Carbohydrates',
								autocomplete='off',min=0) }}
								{% if form.carbs.errors %}
								<ul>
									{% for error in form.carbs.errors %}
									<li>{{error}}</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4">
							<div class="form-group">
								{{ form.fats.label }}
								{{ form.fats(class='form-control', placeholder='Fats', autocomplete='off', min=0) }}
								{% if form.fats.errors %}
								<ul>
									{% for error in form.fats.errors %}
									<li>{{error}}</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
						</div>

						<div class="col-lg-4">
							<div class="form-group">
								<label style="visibility:hidden">submit</label>
								<button type="submit" class="btn btn-primary btn-block">
									<i class="glyphicon glyphicon-upload"></i> Submit
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row t20">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4 class="lean-h text-black">
					<i class="glyphicon glyphicon-th-list"></i> Existing Food Items
				</h4>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th style="width: 5%;">#</th>
							<th>Name</th>
							<th style="width: 10%;">Protein</th>
							<th style="width: 16%;">Carbohydrates</th>
							<th style="width: 10%;">Fat</th>
							<th style="width: 12%;">Calories</th>
							<th style="width: 20%;">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for food in foodList %}
						<tr>
							<td>{{ food.id }}</td>
							<td>{{ food.name }}</td>
							<td>{{ food.proteins }}</td>
							<td>{{ food.carbs }}</td>
							<td>{{ food.fats }}</th>
							<td>{{ food.carbs*4 + food.proteins*4 + food.fats*9 }}</td>
							<td>
								<a href="#" class="btn btn-default btn-xs">
									<i class="glyphicon glyphicon-pencil"></i> Edit
								</a>
								<a href="#" class="btn btn-danger btn-xs">
									<i class="glyphicon glyphicon-trash"></i> Delete
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}