{% extends "base.html" %}
{% block title %} FoodTracker | Help {% endblock %}
{% block content %}
<div class="container-fluid">
    <h3>It's simple really. 5Head</h3>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Add Food</h5>
            </div>
            <p class="mb-1">In the Add Food Item page, you can generally add a food item that can be used by any person.
                You should do this if the food you want to add is not already on the list. </p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Add a Log Date</h5>
            </div>
            <p class="mb-1"> When in homepage, you can select the Date input field and input a date and click on submit
                to add a Log Date.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Add food to the added Log Date</h5>
            </div>
            <p class="mb-1"> Click on the view button in each of the log date cards in homepage.</p>
        </a>
    </div>
</div>
{% endblock %}