{% extends "base.html" %}
{% block title %} FoodTracker | View Details {% endblock %}
{% block content %}

<div class="row t20">
	<div class="col-lg-4 col-lg-offset-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<form action="{{ url_for('main.view', dateid=logDate.id) }}" method="POST" role="form">
					{{ form.csrf_token }}
					<div class="form-group">
						{{ form.dayFood.label }}
						<div class="input-group">
							{{ form.dayFood(class='form-control') }}
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary" id="add-btn">
									<i class="glyphicon glyphicon-plus-sign"></i> Add Food
								</button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row t20">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="lean-h text-black">
					<i class="glyphicon glyphicon-calendar"></i> {{ logDate.logDate.strftime('%B %d, %Y') }}
				</h3>

				<div class="row">
					<div class="col-lg-3">
						<h4 class="lean-h">
							Protein: &nbsp;<strong class="f25">{{todayStats.proteins}}</strong>
						</h4>
					</div>
					<div class="col-lg-3">
						<h4 class="lean-h">
							Carbohydrates: <strong class="f25">{{todayStats.carbs}}</strong>
						</h4>
					</div>
					<div class="col-lg-3">
						<h4 class="lean-h">
							Fat: <strong class="f25">{{todayStats.fats}}</strong>
						</h4>
					</div>
					<div class="col-lg-3">
						<h4 class="lean-h">
							Calories: <strong class="f25">{{todayStats.proteins*4 + todayStats.carbs*4 +
								todayStats.fats*9}}</strong>
						</h4>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th style="width: 5%;">#</th>
							<th>Name</th>
							<th style="width: 10%;">Protein</th>
							<th style="width: 16%;">Carbohydrates</th>
							<th style="width: 10%;">Fat</th>
							<th style="width: 12%;">Calories</th>
							<th style="width: 20%;">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for food in foodsThisDate %}
						<tr>
							<td>{{ food.id }}</td>
							<td>{{ food.name }}</td>
							<td>{{ food.proteins }}</td>
							<td>{{ food.carbs }}</td>
							<td>{{ food.fats }}</th>
							<td>{{ food.carbs*4 + food.proteins*4 + food.fats*9 }}</td>
							<td>
								<a href="#" class="btn btn-danger btn-xs">
									<i class="glyphicon glyphicon-trash"></i> Delete
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}